---
 const personalImageAlt = "Rodrigo Carreira"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
  My name is Rodrigo, and I am a Software Engineer with professional experience in the design, development, and deployment of cutting-edge AI solutions. My primary focus lies in the practical implementation of <strong>Generative AI pipelines</strong>, especially within real-world business environments such as <strong>Kubernetes clusters</strong> and internal enterprise tools.
</p>
<p>
  I have hands-on experience applying <strong>machine learning</strong> and <strong>natural language processing</strong> models to solve real challenges, particularly in <strong>computer vision</strong> and <strong>LLM-based systems</strong>. My work includes designing scalable MLOps architectures, optimizing model performance, and integrating AI into production-grade platforms. I hold multiple technical certifications from Nvidia’s Deep Learning Institute, and I have a solid foundation in GPU programming and parallel computation using <strong>CUDA</strong>.
</p>
<p>
  I actively participate in major tech conferences such as Talent Land (where I spoke alongside a university professor), ARITH 2024 (as part of the organizing staff), DES 2024, YOLO Vision 2024, and various AI and cybersecurity events in Málaga. These experiences fuel my drive to stay at the forefront of technological innovation.
</p>
<p>
  Outside of tech, I’m passionate about <strong>tennis</strong> and enjoy staying active. I also love creating and editing visually engaging content. I thrive in team environments, value building strong personal and professional relationships, and bring a self-taught, empathetic, and goal-driven mindset to everything I do.
</p>

  </div>

  <img width="200" height="200" src="/logo.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

<!-- FRASES PROHIBIDAS EN VUESTRO PORTFOLIO

<p>
  Mi sueño es encontrar mi primer empleo en el mundo de la programación. Una empresa donde pueda seguir aprendiendo. ❌
</p>

<p>
  ❌ Apasionado de la programación desde chekitito. Me encantan los ordenadores y crear páginas web buenas y rápidas con la última tecnología.
</p>

<p>
  Trabajo bien en equipo. Siempre estoy aprendiendo cosas nuevas.
</p>

-------------------------------------

--------------------------------------

<p>
  ¡Soy Leo! Estudié Derecho Empresarial y, tras años ejerciendo, me pasé al mundo de la Programación. Desde entonces disfruto creando experiencias web para los usuarios.
</p>

<p>
  Entre mis éxitos destaco que durante el Grado Superior, ayudé a mis compañeros a aprender sobre TDD. Me encanta el testing, creo en su importancia, y me gusta compartir mi conocimiento sobre ello.
</p>

<p>
  Cuento con experiencia desarrollando aplicaciones móviles, y he creado una iniciativa llamada X para mezclar mis dos pasiones: la programación y el derecho. Ayudando a la sociedad a acceso a una defensa justa.
</p>

---------------------------------------

<p>Me llamo Sara, tengo 25 años y soy de Santiago, Chile 🇨🇱. Terminé mis estudios como Desarrolladora Web. Me encanta enfocarme en la parte del rendimiento, para ofrecer la mejora experiencia al usuario.</p>

<p>
  Colaboro en la organización del MeetUp local BeerJS donde reunimos a desarrolladores de Santiago para compartir conocimiento y experiencias. El año 2023 hicimos un total de 25 charlas con más de 2000 asistentes.
</p>

<p>
  Además de participar activamente en la comunidad, he participado en la Hackathon de Midudev quedando en 3er puesto con mi proyecto _Chatty_, donde usando IA podías interactuar con un PDF. ¡Échale un vistazo!
</p>

-->
