---
import EducationItem from "./EducationItem.astro"
import GitHub from "./icons/GitHub.astro"
const EXPERIENCE = [
  {
    date: "Currently...",
    title: "Bachelor's Degree in Software Engineering",
    company: "Málaga University (UMA)",
    information: "https://www.uma.es/grado-en-ingenieria-informatica",
  },
  {
    date: "December 2023",
    title: "Certificate of Proficiency in English (C2)",
    company: "Cambridge University Press and Assessment English",
    information: "https://www.cambridgeenglish.org/es/exams-and-tests/proficiency/",
    link: "https://github.com/rorro6787/rorro6787/blob/main/Images/diplomaC2.jpeg",
  },
  {
    date: "June 2021",
    title: "Scientific Baccalaureate",
    company: "Novaschool Añoreta",
    information: "https://anoreta.novaschool.es/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <EducationItem {...experience} />
      </li>
    ))
  }
</ol>
