---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Currently...",
    title: "NLP Researcher",
    company: "Khaos Research Group, UMA",
    description: "I analyzed how ChatGPT and Claude could generate optimization problems from natural language, pseudo-code, or LaTeX, and from tools like jMetal and PlatEMO. I focused on continuous optimization, leveraging our group's expertise in jMetal and jMetalPy. I examined algorithmic components like crossover and mutation operators, quality indicators, and aggregative functions, ensuring their functionality and performance across platforms using LLMs.",
    link: "https://khaos.uma.es/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
