---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "March. 2025 - Present",
    title: "GenAI Intern",
    company: "Tupl Inc.",
    description: ["Designed and implemented a GenAI-based assistant to integrate automated monitoring and alerting functionalities into solutions built with the TuplOS platform. This involved analyzing functional and technical requirements to ensure seamless integration and configuring generative AI models to enable real-time event detection and proactive notifications. Additionally, I developed connectors and automated workflows to integrate the assistant with existing TuplOS solutions.", "To enhance performance and user experience, I conducted functionality and usability testing, making optimizations based on feedback. Furthermore, I created technical documentation, user manuals, and tutorials to facilitate adoption and effective use of the assistant."], 
    link: "https://www.tupl.com/",
  },
  {
    date: "Sept. 2024 - Present",
    title: "AI Researcher",
    company: "Khaos Research Group, UMA",
    description: ["Coauthored and published the SAES Python library for non-parametric statistical tests with researcher Antonio J. Nebro, enabling advanced statistical analysis and visualization.", "Conducted research on automatic code generation using Large Language Models (LLMs), integrating LangChain with frameworks such as jMetal and jMetalPy for multi-objective optimization."], 
    link: "https://khaos.uma.es/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
