---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Sept. 2024 - Present",
    title: "AI Researcher",
    company: "Khaos Research Group, UMA",
    description: ["Developed and published a Python library for non-parametric statistical tests, enabling advanced statistical analysis and visualization and co-authored a research paper on LLM-driven code generation and automated testing, currently under review for publication.", "Conducted research on automatic code generation using Large Language Models (LLMs), integrating LangChain with frameworks such as jMetal and jMetalPy for multi-objective optimization."], 
    link: "https://khaos.uma.es/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
