---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "June 2025 - Present",
    title: "Jr. AI Software Engineer",
    company: "Tupl Inc.",
    description: ["Implement AI and Generative AI solutions across internal TuplOS tools and enterprise services to streamline workflows, enhance productivity, and unlock new capabilities at scale. My work focuses on integrating large language models (LLMs), retrieval-augmented generation (RAG), AI agents and automation into core business platforms—driving efficiency and intelligence across the organization.", "This includes building custom AI pipelines, embedding models into internal APIs and UIs, and collaborating closely with cross-functional teams to identify high-impact use cases. The solutions I develop are production-ready, secure, and tailored to real business needs—empowering teams with smarter, AI-enhanced tools."], 
    link: "https://www.tupl.com/",
  },
  {
    date: "March 2025 - June 2025",
    title: "GenAI Intern",
    company: "Tupl Inc.",
    description: ["Designed and implemented a GenAI-based assistant to integrate automated monitoring and alerting functionalities into solutions built with the TuplOS platform. This involved analyzing functional and technical requirements to ensure seamless integration and configuring generative AI models to enable real-time event detection and proactive notifications. Additionally, I developed connectors and automated workflows to integrate the assistant with existing TuplOS solutions.", "To enhance performance and user experience, I conducted functionality and usability testing, making optimizations based on feedback. Furthermore, I created technical documentation, user manuals, and tutorials to facilitate adoption and effective use of the assistant."], 
    link: "https://www.tupl.com/",
  },
  {
    date: "March 2025 - June 2025",
    title: "AI Researcher",
    company: "SCENIC Research Group, ITIS UMA",
    description: ["Developed business process optimization solutions using machine learning (ML) and Graph Neural Networks (GNNs). Worked with Business Process Model and Notation (BPMN) tools such as Activiti, Bonita BPM, and Camunda.", "Applied my knowledge of artificial intelligence, focusing on machine learning and GNNs, while also utilizing genetic algorithms, neural networks, and optimization techniques."], 
    link: "https://www.scenic.uma.es/",
  },
  {
    date: "Sept. 2024 - March 2025",
    title: "AI Researcher",
    company: "KHAOS Research Group, ITIS UMA",
    description: ["Coauthored and published the SAES Python library for non-parametric statistical tests with researcher Antonio J. Nebro, enabling advanced statistical analysis and visualization.", "Conducted research on automatic code generation using Large Language Models (LLMs), integrating LangChain with frameworks such as jMetal and jMetalPy for multi-objective optimization."], 
    link: "https://khaos.uma.es/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
