---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Sept. 2024 - Present",
    title: "AI Researcher",
    company: "Khaos Research Group, UMA",
    description: ["Coauthored and published the SAES Python library for non-parametric statistical tests with researcher Antonio J. Nebro, enabling advanced statistical analysis and visualization.", "Conducted research on automatic code generation using Large Language Models (LLMs), integrating LangChain with frameworks such as jMetal and jMetalPy for multi-objective optimization."], 
    link: "https://khaos.uma.es/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
